@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
        <script type="text/javascript">
            $(function () {
                loadData();
                $("#addDiv").css("display", "none");
                $("#editDiv").css("display", "none");
                $("#setGroupRoleDiv").css("display", "none");
                $("#setActionInfoGroupDiv").css("display", "none");
            });
            function loadData(params) {
                $('#tt').datagrid({
                    url: '/AdminManager/AdminActionGroup/GetActionGroupInfo',
                    title: '权限组数据表格',
                    width: 700,
                    height: 400,
                    fitColumns: true, //列自适应
                    nowrap: false,
                    idField: 'ID',//主键列的列明
                    loadMsg: '正在加载权限组的信息...',
                    pagination: true,//是否有分页
                    singleSelect: false,//是否单行选择
                    pageSize: 5,//页大小，一页多少条数据
                    pageNumber: 1,//当前页，默认的
                    pageList: [5, 10, 15],
                    queryParams: params,//往后台传递参数
                    columns: [[//c.UserName, c.UserPass, c.Email, c.RegTime
                        { field: 'ck', checkbox: true, align: 'left', width: 50 },
                        { field: 'ID', title: '编号', width: 80 },
                        { field: 'GroupName', title: '权限组名称', width: 120 },
                         { field: 'Sort', title: '排序', width: 120 },
                                {
                                    field: 'GroupType', title: '权限组类型', width: 80, align: 'right',
                                    formatter: function (value, row, index) {
                                        if (value == "1") {
                                            return "菜单组";
                                        } else {
                                            return "普通组";

                                        }
                                    }
                                },
                        {
                            field: 'ShowDetail', title: '详细', width: 80, align: 'right',
                            formatter: function (value, row, index) {
                                return "<a href='javascript:void(0)' class='showDetails' ids='" + row.ID + "'>详细</a>";
                            }
                        }
                    ]],
                    toolbar: [{
                        id: 'btnDelete',
                        text: '删除',
                        iconCls: 'icon-remove',
                        handler: function () {
                            deleteInfo();
                        }
                    }, {
                        id: 'btnAdd',
                        text: '添加',
                        iconCls: 'icon-add',
                        handler: function () {
                            addInfo();
                        }
                    }, {
                        id: 'btnEdit',
                        text: '编辑',
                        iconCls: 'icon-edit',
                        handler: function () {
                            editInfo();
                        }
                    }, {
                        id: 'btnSetRole',
                        text: '为权限组分配角色',
                        iconCls: 'icon-edit',
                        handler: function () {
                            setActionGroupRole();
                        }
                    }, {
                        id: 'btnSetActionInfoGroup',
                        text: '为权限组指定权限',
                        iconCls: 'icon-edit',
                        handler: function () {
                            setActionGrop();
                        }
                    }],
                    onLoadSuccess: function () {
                        $(".showDetails").click(function () {
                            alert($(this).attr("ids"));
                            $('#tt').datagrid('clearSelections');//取消选择项.
                        });
                    },

                });
            }
            //给权限组指定相应的权限
            function setActionGrop() {
                var rows = $('#tt').datagrid('getSelections');
                if (!rows || rows.length != 1) {
                    //alert("请选择要修改的商品！");
                    $.messager.alert("提醒", "只能选择1项", "error");
                    return;
                }
                $("#setActionInfoGroupDiv").css("display", "block");
                $("#setActionInfoGroupFrame").attr("src", "/AdminManager/AdminActionGroup/SetActionInfoGroup/?groupId=" + rows[0].ID);
                $('#setActionInfoGroupDiv').dialog({
                    title: "为权限组分配角色信息",
                    width: 300,
                    height: 400,
                    collapsible: true,
                    resizable: true,
                    modal: true,
                    buttons: [{
                        text: '确定',
                        iconCls: 'icon-ok',
                        handler: function () {
                            //完成表单的校验.
                            //$("#editForm").submit();//提交表单
                            var childWindow = $("#setActionInfoGroupFrame")[0].contentWindow;//获取子窗体的window对象.
                            childWindow.subForm();
                        }
                    }, {
                        text: '取消',
                        handler: function () {
                            $('#setActionInfoGroupDiv').dialog('close');
                        }
                    }]
                });
            }
            //为权限组分配角色
            function setActionGroupRole() {
                var rows = $('#tt').datagrid('getSelections');
                if (!rows || rows.length != 1) {
                    //alert("请选择要修改的商品！");
                    $.messager.alert("提醒", "只能选择1项", "error");
                    return;
                }
                $("#setGroupRoleDiv").css("display", "block");
                $("#setGroupRoleFrame").attr("src","/AdminManager/AdminActionGroup/SetGroupRoleInfo/?grouId="+rows[0].ID);
                $('#setGroupRoleDiv').dialog({
                    title: "为权限组分配角色信息",
                    width: 300,
                    height: 400,
                    collapsible: true,
                    resizable: true,
                    modal: true,
                    buttons: [{
                        text: '确定',
                        iconCls: 'icon-ok',
                        handler: function () {
                            //完成表单的校验.
                            //$("#editForm").submit();//提交表单
                            var childWindow = $("#setGroupRoleFrame")[0].contentWindow;//获取子窗体的window对象.
                           childWindow.subForm();
                        }
                    }, {
                        text: '取消',
                        handler: function () {
                            $('#setGroupRoleDiv').dialog('close');
                        }
                    }]
                });
            }
            //编辑信息
            function editInfo() {
                var rows = $('#tt').datagrid('getSelections');
                if (!rows || rows.length != 1) {
                    //alert("请选择要修改的商品！");
                    $.messager.alert("提醒", "你回修改吗!", "error");
                    return;
                }
                $("#editDiv").css("display", "block");
                //$("#txtUserName").val(rows[0].UserName);
                //$("#txtUserPass").val(rows[0].UserPass);
                //$("#txtEmail").val(rows[0].Email);
                //$("#txtRegTime").val(ChangeDateFormat(rows[0].RegTime));
                //$("#txtId").val(rows[0].ID);
                $("#editFrame").attr("src", "/AdminManager/AdminSetting/ShowEditInfo/?id=" + rows[0].ID)
                $('#editDiv').dialog({
                    title: "编辑信息",
                    width: 300,
                    height: 400,
                    collapsible: true,
                    resizable: true,
                    modal: true,
                    buttons: [{
                        text: '确定',
                        iconCls: 'icon-ok',
                        handler: function () {
                            //完成表单的校验.
                            //$("#editForm").submit();//提交表单
                            var childWindow = $("#editFrame")[0].contentWindow;//获取子窗体的window对象.
                            childWindow.subForm();
                        }
                    }, {
                        text: '取消',
                        handler: function () {
                            $('#editDiv').dialog('close');
                        }
                    }]
                });
            }

            //修改完成以后调用该方法
            function afterEdit(data) {
                if (data == "ok") {
                    $('#editDiv').dialog('close');
                    $('#tt').datagrid('reload');//加载数据显示当前页面
                }
            }

            //添加数据
            function addInfo() {
                $("#addDiv").css("display", "block");
                $('#addDiv').dialog({
                    title: "添加信息",
                    width: 400,
                    height: 500,
                    collapsible: true,
                    resizable: true,
                    modal: true,
                    buttons: [{
                        text: '确定',
                        iconCls: 'icon-ok',
                        handler: function () {
                            //完成表单的校验.
                            $("#addForm").submit();//提交表单
                        }
                    }, {
                        text: '取消',
                        handler: function () {
                            $('#addDiv').dialog('close');
                        }
                    }]
                });

            }
            //添加完成以后调用该方法
            function afterAdd(data) {
                if (data == "ok") {
                    $('#addDiv').dialog('close');
                    $('#tt').datagrid('reload');//加载数据显示当前页面
                    $("#addForm input").val("");
                }
            }

            //删除数据
            function deleteInfo() {
                var rows = $('#tt').datagrid('getSelections');
                if (!rows || rows.length == 0) {
                    //alert("请选择要修改的商品！");
                    $.messager.alert("提醒", "请选择要删除的记录!", "error");
                    return;
                }
                if ($.messager.confirm("提示", "确定要删除吗?", function (r) {
                    if (r) {
                       var strId = "";
                for (var i = 0; i < rows.length; i++) {
                    strId = strId + rows[i].ID + ",";//6,4,
                }
                strId = strId.substr(0, strId.length - 1);//6,4
                $.post("/AdminManager/AdminSetting/DeleteSettingInfo", { "strId": strId }, function (data) {
                    if (data == "ok") {
                    //重新加载.
                    //loadData();
                        $('#tt').datagrid('clearSelections');//取消选择项.
                        $('#tt').datagrid('reload');//加载数据显示当前页面
                } else {
                        $.messager.alert("提醒", "删除失败!", "error");
                        return;
                }
                })
                }
                }));
            }
            function ChangeDateFormat(cellval) {
                var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                return date.getFullYear() + "-" + month + "-" + currentDate;
            }

    </script>
</head>
<body>
    <div>
          <div>
      
 <table id="tt" style="width: 700px;" title="标题，可以使用代码进行初始化，也可以使用这种属性的方式" iconcls="icon-edit">
        </table>
    </div>
    <!----------------------------添加用户信息---------------------------------------->
    <div id="addDiv">
        @using(Ajax.BeginForm("AddRoleInfo",new{},new AjaxOptions(){HttpMethod="post", OnSuccess="afterAdd"},new{id="addForm"})){
        <table>
            <tr>
                <td>角色名称:</td><td><input type="text" name="RoleName"></td>
            </tr>
            <tr>
                <td>角色类型:</td><td>
                    <select name="RoleType">
                        <option value="1">特殊角色</option>
                              <option value="2">普通角色</option>
                    </select>

                              </td>
            </tr>

            <tr>
                <td>备注:</td><td><textarea name="Remark" rows="20" cols="50"></textarea></td>
            </tr>
            
        </table>
        }
    </div>
      <!----------------------------添加用户信息结束---------------------------------------->

     <!----------------------------编辑用户信息---------------------------------------->
    <div id="editDiv">
         @* @using(Ajax.BeginForm("EditUserInfo",new{},new AjaxOptions(){HttpMethod="post", OnSuccess="afterEdit"},new{id="editForm"})){
              <input type="hidden" name="ID" id="txtId" />
        <table>
            <tr>
                <td>用户名:</td><td><input type="text" name="UserName" id="txtUserName" /></td>
            </tr>
            <tr>
                <td>密码:</td><td><input type="text" name="UserPass" id="txtUserPass" /></td>
            </tr>
            <tr>
                <td>邮箱:</td><td><input type="text" name="Email" id="txtEmail"/></td>
            </tr>
            <tr>
                <td>日期</td><td><input type="text" name="RegTime" id="txtRegTime" /></td>
            </tr>
        </table>
        }*@
        <iframe frameborder="0" scrolling="no" width="100%" height="100%" id="editFrame"></iframe>

    </div>
    <!----------------------------编辑用户信息结束---------------------------------------->

        <!--------------------为权限组分配角色--------------------------->
        <div id="setGroupRoleDiv">
            <iframe  frameborder="0" scrolling="no" width="100%" height="100%"  id="setGroupRoleFrame"></iframe>
        </div>
        <!---------------给权限分组-------------->
        <div id="setActionInfoGroupDiv">
                <iframe  frameborder="0" scrolling="no" width="100%" height="100%"  id="setActionInfoGroupFrame"></iframe>
        </div>
    </div>
</body>
</html>
