<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!-- 连接字符串是否加密 -->
	</appSettings>
	<connectionStrings>
		<add name="connString" connectionString="server=.\sqlexpress;uid = sa;pwd = sasasa;database = bookshop"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<customErrors mode="Off"/>
		<identity impersonate="true"/>
		<authentication mode="Forms">
			<forms name="forums" path="/" loginUrl="Login.aspx" protection="All" timeout="40">
			</forms>
		</authentication>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
</configuration>
