@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>找回密码</title>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        function afterFind(data) {
            var serverData = data.split(':');
            if (serverData[0] == "ok") {
                $("#msg").text(serverData[1]);
            } else {
                $("#msg").text(serverData[1]);
            }
        }
    </script>
</head>
<body>
    <div>
        @using (Ajax.BeginForm("FindPwd", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterFind" }, new { id = "form1" }))
        {
            <table>
                <tr>
                    <td>用户名:</td><td><input type="text" name="txtName" /></td>
                </tr>
                <tr>
                    <td>邮箱</td><td><input type="text" name="txtMail" /></td>
                </tr>
                <tr><td><input type="submit" value="找回密码"  id="btn"/></td></tr>
            </table>
            <span id="msg" style="font-size:14px;color:red"></span>
        }
    </div>
</body>
</html>
